* {
  font-family: Helvetica;
  color: white;
}

.nav_name:hover {
  color: green;
}

.resume:hover {
  color: yellow;
}

.contact:hover {
  color: purple;
}

.projects:hover {
  color: red;
}

.about_me:hover {
  color: blue;
}

.active-style-green {
  color: green;
}

.active-style-red {
  color: red;
}

.active-style-blue {
  color: blue;
}

.active-style-green {
  color: green;
}

.active-style-yellow {
  color: yellow;
}

.active-style-purple {
  color: purple;
}